// :host{
//         --iconColor:#3653E8;
//         --backgroundHoverButtonColor:rgb(227 227 227 / 70%);
//         --backgroundTooltip:#000000bf;
//         --textTooltipColor:white;
// }


:host{
    color: var(--iconColor);
    // position: relative;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // height: 100%;
    // width: 100%;
    // aspect-ratio: 1/1;
    // border-radius: 50%;
    // &:hover{
    //     background: var(--backgroundHoverButtonColor);
    // }
    &:hover .tooltip-container{
        display: flex;
    }
}

 .tooltip-container{
    position: absolute;
    font-size: 14px;
    display: none;
    align-items: center;
    justify-content: center;
    &.top{
        flex-direction: column;
        top: -120%;
    }
    &.bottom{
        flex-direction: column-reverse;
        bottom: -120%;
    }
    &.right{
        flex-direction: row;
        right: -120%;
    }
    &.left{
        flex-direction: row-reverse;
        left: -120%;
    }

    .tooltip-text{
        background: var(--backgroundTooltip);
        color: var(--textTooltipColor);
        padding: 9px 10px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .direction{
        &.top{
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid  var(--backgroundTooltip);
        }
        &.bottom{
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid  var(--backgroundTooltip);
        }
        &.left{
            border-bottom: 7px solid transparent;
            border-top:7px solid transparent;
            border-left: 7px solid  var(--backgroundTooltip);
        }
        &.right{
            border-bottom: 7px solid transparent;
            border-top:7px solid transparent;
            border-right: 7px solid  var(--backgroundTooltip);
            }

    }
   
}