<app-tooltip></app-tooltip>
<app-chat-history
  [listNewMessage]="listNewMessage"
  (openChat)="openChat($event)"
  [listUserOnline]="listUserOnline"
></app-chat-history>
  <app-chat-box
    [class.hidden-chatbox]="!dataChatbox.groupChatId"
    [groupAvater]="dataChatbox.groupAvatar"
    [groupChatId]="dataChatbox.groupChatId"
    [groupName]="dataChatbox.groupName"
    [listMesages]="dataChatbox.listMessage"
    [listUser]="dataChatbox.listUser"
    (message)="sendMessage($event)"
    [listUserOnline]="listUserOnline"
></app-chat-box>
<div [class.hidden-chatbox]="dataChatbox.groupChatId" class="content">
    <div>Hãy bắt đầu đoạn chát của bạn</div>
</div>



