:host{
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 17px;
    padding: 17px;
    box-sizing: border-box;

}
app-chat-history{
    flex: 1 1 auto;
    min-width: 27%;
    max-width: 350px;
}
app-chat-box{
    flex: 2 1 auto;
}
.content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
