
<div class="menu" [style]="{ width: !isToggleMenu ? 'fit-content' : ''}">
  <app-actions-menu [listMenu]="listMenuItem"
                    [theme]="{iconColor: 'black',
                              backgroundColor:'#ffffff00',
                              boxShadowColor: '#fdfdfd01',
                              backgroupActiveColor:'#ffffffd4'}"
                    [isLabel]="isToggleMenu"
                    />

  <div class="menu-infor" [class.hidden-content]="!isToggleMenu">
    <app-preview-card
      [avatar]="personalInformation?.avatar || ''"
      [title]="isToggleMenu ? personalInformation?.name || '' : ''"
      [theme]="{ avatarSize: '35px' }"
    />
    <div (click)="toggleMenu()" class="menu-blinds"><i class="fa-regular fa-blinds-open"></i></div>
  </div>
</div>

<router-outlet/>

<div class="menu-bottom" [class.hidden]="!isHiddenMenuBottom || !checkScreenSize()">
  <div class="icon" [routerLink]="['/messenger/chat']" routerLinkActive="router-link-active"
    (mouseenter)="tooltipService.show('Đoạn chat')"
    (mouseleave)="tooltipService.hide()">
    <i class="fa-brands fa-facebook-messenger">
      <div class="count">{{listMenuItem?.[0]?.notifiCount}}</div>
    </i>
    <span>Đoạn chat</span>
  </div>
  <div class="icon"
    (mouseenter)="tooltipService.show('Tin')"
    (mouseleave)="tooltipService.hide()">
    <i class="fa-regular fa-scanner-touchscreen"></i>
    <span>Tin</span>
  </div>
  <div class="icon"
    (mouseenter)="tooltipService.show('Menu')"
    (mouseleave)="tooltipService.hide()"
  >
     <i class="fa-regular fa-blinds-open"></i>
     <span>Menu</span>
  </div>
</div>
