<header>
    <div class="title">
        @if(!isHiddenBackButton){<div (click)="backEvent()" class="back-button"><i class="fa-regular fa-arrow-left"></i></div>}
        <app-preview-card
            (mouseenter)="tooltipService.show(groupName ? groupName : 'ok')"
            (mouseleave)="tooltipService.hide()"
            avatar="{{groupAvater}}"
            title="{{groupName}}"
            [content]="checkOnline(listUserOnline) ? 'Đang hoạt động' : ''"
            [isRead]="true"
            [theme]="{ avatarSize:'45px'}"
            [isOnline]="checkOnline(listUserOnline)"
        />
    </div>
    <div class="main-action">
        <ul>
            <li class="call"
                (mouseenter)="tooltipService.show('Gọi thoại')"
                (mouseleave)="tooltipService.hide()">
                <i class="fa-solid fa-phone"></i>
            </li>
            <li class="call-video"
                (mouseenter)="tooltipService.show('Gọi video')"
                (mouseleave)="tooltipService.hide()">
                <i class="fa-solid fa-video"></i>
            </li>
            <li class="setting"
                (mouseenter)="tooltipService.show('Cài đặt cuộc trò chuyện')"
                (mouseleave)="tooltipService.hide()">
                <i class="fa-solid fa-circle-exclamation"></i>
            </li>
        </ul>
    </div>
</header>
<section #scrollContainer style=" scroll-behavior: smooth;">
  @for(item of listMesages;let index = $index;track $index){
        <app-message
          #message
          [name]="(isSentMessage(item.createdBy) && setStartMessage(item,index)  ) ? getUserName(item.createdBy) : undefined"
          [listImage]="item.listFile"
          [avatar]="setEndMessage(item,index) ? setAvatar(item.createdBy) : ''"
          [content]="item.content ?? ''"
          [sentMessage]="!isSentMessage(item.createdBy)"
          [startMessage]="setStartMessage(item,index)"
          [endMessage]="setEndMessage(item,index)"
          [displayTime]="index == 0 || (listMesages && listMesages[index - 1] && !setDateOptionMessage(item.createdTime, listMesages[index - 1].createdTime)) "
          time="{{setDate(item.createdTime)}}"
          [userCode]="item.createdBy"
          [listUserOnline]="listUserOnline"
        />
  }
</section>
<footer>
    <div class="extra-action">
        <ul>
            <li [class.hidden]="!isHiddenAction" class="action" style="position: relative;"
                (mouseenter)="tooltipService.show('Mở hành động khác')"
                (mouseleave)="tooltipService.hide()"
                (click)="isHiddenListAction = !isHiddenListAction">
                <i class="fa-solid fa-circle-plus"></i>
                <app-actions-menu class="top right" [theme]="{iconColor:'#3653E8'}"
                                  [listMenu]="listMenu" (mouseenter)="tooltipService.hide()"
                                  [class.hidden]="!isHiddenListAction"
                                  style="position: absolute;box-shadow: 1px 1px 10px rgb(172, 172, 172);padding: 10px;"/>
            </li>
            <li [class.hidden]="isHiddenAction" class="action"
                (mouseenter)="tooltipService.show('Gửi clip âm thanh')"
                (mouseleave)="tooltipService.hide()">
                <i class="fa-solid fa-microphone"></i>
            </li>
            <li [class.hidden]="isHiddenAction" class="action"
                (mouseenter)="tooltipService.show('Đính kèm file')"
                (mouseleave)="tooltipService.hide()">
                <label #fileInput style="cursor: pointer;" for="fileInput"><i class="fa-regular fa-images"></i></label>
                <input style="display: none;" type="file" id="fileInput" (change)="onFileSelected($event)" multiple>
            </li>
            <li [class.hidden]="isHiddenAction" class="action"
                (mouseenter)="tooltipService.show('Chọn nhãn dán')"
                (mouseleave)="tooltipService.hide()">
                <i class="fa-solid fa-person-breastfeeding"></i>
            </li>
            <li [class.hidden]="isHiddenAction" class="action"
                (mouseenter)="tooltipService.show('Chọn file gif')"
                (mouseleave)="tooltipService.hide()">
                <i class="fa-solid fa-gif"></i>
            </li>
            <li class="input-container">
                @if(previewFile.length > 0){
                  <div class="file-input">
                    <ul>
                      <li (mouseenter)="tooltipService.show('Thêm file')"
                          (mouseleave)="tooltipService.hide()">
                          <div class="add-file"><label for="add-file"><i class="fa-solid fa-file-plus"></i></label></div>
                          <input style="display: none;" type="file" id="add-file" (change)="onAddFileSelected($event)" multiple>
                      </li>
                      @for(file of previewFile;let index = $index;track $index){
                        <li>
                          <img [src]="file.url">
                          <div class="close-file" (click)="removeFile(index)"
                            (mouseenter)="tooltipService.show('Gỡ file đính kèm')"
                            (mouseleave)="tooltipService.hide()">
                            <i class="fa-solid fa-circle-xmark"></i></div>
                        </li>
                      }
                    </ul>
                  </div>
              }
              <div class="text-input">
                  <div class="input"
                  #chatInput
                  contenteditable="true"
                  (keydown)="onKeyDown($event)"
                  aria-placeholder="Aa"
                  ></div>
                  <div style="width: 33px;flex: 0 0 auto;"></div>
                  <div class="action feeling"
                        (mouseenter)="tooltipService.show('Chọn biểu tượng cảm xúc')"
                        (mouseleave)="tooltipService.hide()" >
                      <i style="position: relative;" class="fa-solid fa-face-smile"></i>
                  </div>
              </div>
            </li>
            <li [class.hidden]="isHiddenAction" class="action"
                (mouseenter)="tooltipService.show('Gửi like')"
                (mouseleave)="tooltipService.hide()">
                <i class="fa-solid fa-thumbs-up"></i>
            </li>
            <li [class.hidden]="!isHiddenAction" class="action"
                (mouseenter)="tooltipService.show('Nhấp enter để gửi')"
                (mouseleave)="tooltipService.hide()"
                (click)="clickSend()">
                <i class="fa-solid fa-paper-plane-top"></i>
            </li>
        </ul>
    </div>
</footer>
