<section class="container">
  @if (avatar) {
    <div class="avatar-container">
      <div class="avatar">
        <img src="{{avatar}}" alt="">
      </div>
      @if (isOnline) {
        <div class="online-dot"></div>
      }
    </div>
  }
  @if (content || title){
    <div class="content-container">
      <div class="title">
        <span>{{title}}</span>
      </div>
      @if (content) {
        <div  class="content" [class.approved]="isRead">
          <span class="main-content">{{content}}</span>
          @if (time) {
            <span>&middot;</span>
            <span>{{time}}</span>
          }
        </div>
      }
    </div>
  }
   @if (isRead==false || notifi) {
     <div class="notifi-icon">
      @if (false) {
        <div class="bell">
          <i class="fa-solid fa-bell-slash"></i>
        </div>
      }
      @if (isRead==false) {
        <div class="not-read">
        </div>
      }
    </div>
  }
</section>
