
:host{
  --icon-color:#000;
  --text-color: #000;
  --background-color: white;
  --boxShadow-color: #9b9a9a;
  display: flex;
  flex-direction: column;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 1px 1px 5px var(--boxShadow-color, #9b9a9a);
  background: var(--background-color, #fff);
   width: fit-content;
  &.top{
    bottom: 100%;
  }
  &.bottom{
    top: 100%;
  }
  &.left{
    right: 100%;
  }
  &.right{
    left: 100%;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgb(196, 196, 196);
  li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 7px 10px;
    &.router-link-active{
        background:var(--backgroup-active-color) ;
    }
     cursor: pointer;
     &:hover {
      background-color: #c2c2c2d4;
    };
    .menu-item{
    display: flex;
    align-items: center;
    gap: 10px;
    .icon {
        font-size: 23px;
        color: var(--icon-color, #535353);
        aspect-ratio: 1 / 1;
        width: 35px;
        background: #ffffff00;
        display: flex ;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-sizing: border-box;
        position: relative;
    }
    .text {
      font-size: 16px;
      color: var(--text-color, #000);
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .notification-count{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #216FDB;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;

    &.notification-absolute{
      position: absolute;
      top: -10%;
      right: -17%;
      border: 3px solid white;
    }
  }
}
}
.end-group {
  border-bottom: 1px solid 8e8e8e
}
