<ul>
  @for (item of listMenu; track $index) {
    <li (click)="item.action && item.action()"
        (mouseenter)="tooltipService.show(item.label)"
        (mouseleave)="tooltipService.hide()"
    >
      <div class="menu-item">
            @if(item.icon){ <i class="{{ item.icon }} icon"></i> }
           @if (item.label && item.label!=''&& isLabel) {<span class="text">{{ item.label }}</span>}
      </div>

      @if (item.notifiCount && item.notifiCount > 0) {
        <div class="notification-count">{{ item.notifiCount}}</div>
      }
    </li>
  }
</ul>
